<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="blog-psnel">
    <div class="layui-container">
      <ul class="layui-clear">
        <li><a href="javascript:;">HTML</a></li>
        <li><a href="javascript:;">CSS</a></li>
        <li><a href="javascript:;">JavaScript</a></li>
        <li><a href="javascript:;">node.js</a></li>
        <li><a href="javascript:;">vue.js</a></li>
      </ul>
      <div class="blog-column-right">
        <a href="javascript:;" class="layui-btn layui-bg-blue">添加文章</a>
      </div>
    </div>
  </div>
</body>
</html>
<!-- .blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") HTML
      li
        a(href="") CSS
      li
        a(href="") JavaScript
      li
        a(href="") node.js
      li
        a(href="") vue.js
      
      
    .blog-column-right
      a(href="/article").layui-btn.layui-bg-blue 添加文章 -->